* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0B239D;
  background-color: #FFFFFF; 
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #183059;
  background-color: #091120; 
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-family:'Times New Roman', Times, serif;
  border: solid 1px #0B239D;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

nav a[aria-current='page'] {
  color: #050517;
  background-color: #1FA2FF;
  font-family:'Times New Roman', Times, serif;
}

main {
  padding: 1rem;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  
}

.heading {
text-align: center;
}

.heading2{
text-align: center;
}  

.heading3{
text-align: center;  
}

p{
  font-size: 1rem;
  word-spacing: 0.25rem;
}

.Stores {
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 15px;
padding: 2rem;

padding: 1rem;
background-color: white

}

.map {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items:center;
  justify-content: center;
  width: 100%;
}

#Storebox1 {
padding: 1rem;
background-color: #70C3FF;
border-radius: 15px;
border: medium solid black;
}

#Storebox2 {
padding: 1rem;
background-color: #47B3FF;
border-radius: 15px;
border: medium solid black;
}

#Storebox3 {
padding: 1rem;
background-color: #1FA2FF;
border-radius: 15px;
border: medium solid black;
}